@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body,
#root,
.app,

.content {
  
  width: 100%;
  font-family: "Source Sans 3", sans-serif;

}
.app {
  display: flex;
  height: 100%;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/*Track*/
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/*Handle*/
::-webkit-scrollbar-thumb {
  background: #888;
}

/*Handle*/
::-webkit-scrollbar-track:hover {
  background: #555;
}
